<h1>Ola handlebars!</h1>
<p>o nome do usuário é {{user.name}} {{user.surname}}, e ele tem {{user.age}} anos </p>
{{#if auth}}
    <p>
        Você está autenticado, <a href="/dashboard">clique aqui</a>  </a>   para acessar  a área de membros!
    </p>

{{/if}} 